openai
python-dotenv
pypdf
tiktoken
ploomber
gradio
torch
diffusers
transformers
accelerate
datasets
torchvision
torch
# image2image
opencv-contrib-python
xformers
# ControlNet
huggingface-hub
controlnet-aux
mediapipe
# civitAI
omegaconf
# https://huggingface.co/stabilityai/stable-diffusion-xl-base-0.9
invisible_watermark
safetensors
# https://github.com/TencentARC/GFPGAN#installation
# Improve face
# Object Detection YOLO
ultralytics
